@import "../../../utils/variables.scss";
.header__burger {
  display: none;
  padding: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50px;
  right: 10px;
  transition: 0.5s;
  z-index: 111111111;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  @media screen and (max-width: 1024px) {
    display: block;
  }
  .header__burger-line {
    position: absolute;
    height: 2px;
    width: 32px;
    background-color: white;
  }
  .second {
    top: 10px;
  }
  .third {
    top: 20px;
  }
  .forth {
    top: 10px;
  }
  .first--active {
    display: none;
  }
  .second--active {
    transform: rotate(45deg);
    transition: 0.2s;
  }
  .third--active {
    display: none;
  }
  .forth--active {
    transform: rotate(-45deg);
    transition: 0.2s;
  }
}
.modal__header {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: $black-color;
  transform: translate(-300%, -150px);
  transition: 0.4s;
  @media screen and (max-width: 768px) {
    transform: translate(-300%, -40px);
  }
  
  .modal__navigation {
    padding-top: 120px;
    @media screen and (max-width: 768px) {
      padding-top: 50px;
    }
    
    .modal__navigation-list {
     
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 130px;
      height: 270px;
      @media screen and (max-width: 410px) {
        height: 220px;
      }
      @media screen and (max-width: 350px) {
        height: 190px;
      }
      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: $hover-gold-color;
          .modal__navigation-link {
            color: $hover-gold-color;
          }
        }
      }
      .modal__navigation-link {
        color: $white-color;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        transition: 0.4s;
      }
    }
  }
}
.modal__header--active {
  height: 100%;
  transform: translate(0%, -150px);
  transition: 0.4s;
  z-index: 11111111111;
  @media screen and (max-width: 768px) {
    width: 100%;
    transform: translate(0%, -40px);
  }
  @media screen and (max-width: 480px) {
    height: 600px;
   }
}

.modal-adaptive {
  display: none;
  max-width: 660px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    display: block;
    .modal-adaptive__tablet {
      width: 100%;
      gap: 20px;
      display: grid;
      margin-top: 30px;
      grid-template-columns: 1fr 1fr;
      @media screen and (max-width: 480px) {
        display: none;
      }
      .image__block-main {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
      }
      .image__block-below-first {
        width: 100%;
      }
      .image__block-below-second {
        width: 100%;
      }
    }
    .modal-adaptive__mobile{
      display: none;
      img{
        width: 30%;
        height: auto;
      }
      @media screen and (max-width: 480px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 440px;
        gap: 10px;
        padding: 25px 40px 15px 40px;
      }
    }
  }
  
  .modal__social-block {
    position: relative;
    max-width: 340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    img {
      width: 48px;
      height: 48px;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .modal__underline {
    margin: 30px 0px;
    width: 100%;
    height: 2px;
    background-color: $white-color;
  }
}
