@import "../../../utils/variables.scss";

.welcome {
  width: 100%;
  height: 810px;
  background-color: black;
  color: $white-color;
  box-sizing: border-box;
  .welcome__content {
    position: relative;
    max-width: 1440px;
    height: 810px;
    margin: 0 auto;
    padding: 150px 0px 0px 0px;
    box-sizing: border-box;
    background-image: url("../../../assets/img/bg-welcome.png");
    background-size: 1000px auto;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    overflow: hidden;
    h2 {
      font-family: "Forum";
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 90px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
    h3 {
      margin: 25px 0px 75px 0px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 2px;
    }
    .welcome__content-link {
      width: 360px;
      padding: 20px 45px;
      height: 75px;
      text-align: center;
      background-color: $maroon-color;
      border-radius: 10px;
      border: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 2px;
      color: $white-color;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        background-color: $hover-gold-color;
      }
    }
  }
}
.welcome__body--none {
  display: none;
}
