@import "../../../utils/variables.scss";
@import "../welcome-slider/welcome-slider.scss";

.welcome {
  width: 100%;
  background-color: black;
  color: $white-color;
  box-sizing: border-box;
  padding: 0px 20px;
  .welcome__content {
    position: relative;
    display: flex;
    max-width: 1440px;
    height: 810px;
    margin: 0 auto;
    padding: 150px 0px 0px 0px;
    box-sizing: border-box;
    background-image: url("../../../assets/img/welcome-slider/1.jpg");
    background-size: 1000px auto;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    box-shadow: inset 500px 0px 90px #000;
    overflow: hidden;

    @media screen and (max-width: 1400px) {
      box-shadow: inset 380px 0px 90px #000;
    }
    @media screen and (max-width: 1280px) {
      box-shadow: inset 300px 0px 90px #000;
    }
    @media screen and (max-width: 1220px) {
      box-shadow: inset 250px 0px 90px #000;
    }
    @media screen and (max-width: 1150px) {
      box-shadow: inset 220px 0px 90px #000;
    }
    @media screen and (max-width: 1050px) {
      flex-direction: column;
      background-size: 700px auto;
      height: 650px;
      padding: 50px 0px 0px 0px;
      box-shadow: inset 360px 0px 90px #000;
    }
    @media screen and (max-width: 970px) {
      box-shadow: inset 300px 0px 90px #000;
    }
    @media screen and (max-width: 891px) {
      box-shadow: inset 200px 0px 90px #000;
    }
    @media screen and (max-width: 768px) {
      padding: 0;
      height: 861px;
      background-position: 0% 60%;
      background-size: 100% auto;
      box-shadow: 0px 0px 0px #000;
    }
    @media screen and (max-width: 620px) {
      height: 750px;
    }
    @media screen and (max-width: 480px) {
      height: 545px;
      background-position: 100% 70%;
    }
    @media screen and (max-width: 410px) {
      height: 480px;
    }
    @media screen and (max-width: 350px) {
      height: 430px;
    }
    .welcome__body {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h2 {
        font-family: "Forum";
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: 5px;
        text-transform: uppercase;
        @media screen and (max-width: 1250px) {
          font-size: 50px;
        }
        @media screen and (max-width: 768px) {
          font-family: "Forum";
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 60px;
          text-align: center;
          letter-spacing: 5px;
          text-transform: uppercase;
        }
        @media screen and (max-width: 480px) {
          font-size: 28px;
          line-height: 40px;
        }
      }
      h3 {
        margin: 25px 0px 75px 0px;
        margin: 25px 0px 75px 0px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
        @media screen and (max-width: 1100px) {
          font-size: 24px;
        }
        @media screen and (max-width: 1100px) {
          margin: 25px 0px 50px 0px;
        }
        @media screen and (max-width: 480px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
      .welcome__content-link {
        width: 360px;
        padding: 20px 45px;
        height: 75px;
        text-align: center;
        background-color: $maroon-color;
        border-radius: 10px;
        border: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
        color: $white-color;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          background-color: $hover-gold-color;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
.welcome__body--none {
  display: none;
}
.animation-next__to-left {
  animation-name: next__take-away;
  animation-duration: 0.3s;
  @media screen and (max-width: 768px) {
    animation-name: next__take-away--tablet;
  }
  @media screen and (max-width: 480px) {
    animation-name: next__take-away--mobile;
  }
}

.animation-next__from-right {
  animation-name: next__show;
  animation-duration: 0.3s;
  @media screen and (max-width: 768px) {
    animation-name: next__show--tablet;
  }
  @media screen and (max-width: 480px) {
    animation-name: next__show--mobile;
  }
}

.animation-prev__from-right {
  animation-name: prev__take-away;
  animation-duration: 0.3s;
  @media screen and (max-width: 768px) {
    animation-name: prev__take-away--tablet;
  }
  @media screen and (max-width: 480px) {
    animation-name: prev__take-away--mobile;
  }
}

.animation-prev__from-left {
  animation-name: prev__show;
  animation-duration: 0.3s;
  @media screen and (max-width: 768px) {
    animation-name: prev__show--tablet;
  }
  @media screen and (max-width: 480px) {
    animation-name: prev__show--mobile;
  }
}
@keyframes next__take-away {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: -1000% 0%;
  }
}

@keyframes next__take-away--tablet {
  from {
    background-position: 0% 60%;
  }
  to {
    background-position: -1000px 60%;
  }
}

@keyframes next__take-away--mobile {
  from {
    background-position: 0% 70%;
  }
  to {
    background-position: -1000px 70%;
  }
}

@keyframes next__show {
  from {
    background-position: 1000% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

@keyframes next__show--tablet {
  from {
    background-position: 1000px 60%;
  }
  to {
    background-position: 0% 60%;
  }
}

@keyframes next__show--mobile {
  from {
    background-position: 1000px 70%;
  }
  to {
    background-position: 0% 70%;
  }
}

@keyframes prev__take-away {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 1000% 0%;
  }
}

@keyframes prev__take-away--tablet {
  from {
    background-position: 0% 60%;
  }
  to {
    background-position: 1000px 60%;
  }
}

@keyframes prev__take-away--mobile {
  from {
    background-position: 0% 70%;
  }
  to {
    background-position: 1000px 70%;
  }
}

@keyframes prev__show {
  from {
    background-position: -1000% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

@keyframes prev__show--tablet {
  from {
    background-position: -1000px 60%;
  }
  to {
    background-position: 0% 60%;
  }
}

@keyframes prev__show--mobile {
  from {
    background-position: -1000px 70%;
  }
  to {
    background-position: 0% 70%;
  }
}
