@import "../../../utils/variables.scss";
@import "../welcome-slider/welcome-slider.scss";

.welcome {
  width: 100%;
  background-color: black;
  color: $white-color;
  box-sizing: border-box;
  padding: 0px 20px;
  .welcome__content {
    position: relative;
    display: flex;
    max-width: 1440px;
    height: 810px;
    margin: 0 auto;
    padding: 150px 0px 0px 0px;
    box-sizing: border-box;
    background-image: url("../../../assets/img/bg-welcome.png");
    background-size: 1000px auto;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    overflow: hidden;
    @media screen and (max-width: 1050px) {
      flex-direction: column;
      background-size: 700px auto;
      height: 650px;
      padding: 50px 0px 0px 0px;
    }
    @media screen and (max-width: 768px) {
      padding: 0;
      height: 861px;
      background-position: 0% 60%;
      background-size: 728px auto;
    }
    .welcome__body {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h2 {
        font-family: "Forum";
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: 5px;
        text-transform: uppercase;
        @media screen and (max-width: 1250px) {
          font-size: 50px;
        }
        @media screen and (max-width: 768px) {
          font-family: "Forum";
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 60px;
          text-align: center;
          letter-spacing: 5px;
          text-transform: uppercase;
        }
      }
      h3 {
        margin: 25px 0px 75px 0px;
        margin: 25px 0px 75px 0px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
        @media screen and (max-width: 1100px) {
          font-size: 24px;
        }
        @media screen and (max-width: 1100px) {
          margin: 25px 0px 50px 0px;
        }
      }
      .welcome__content-link {
        width: 360px;
        padding: 20px 45px;
        height: 75px;
        text-align: center;
        background-color: $maroon-color;
        border-radius: 10px;
        border: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px;
        color: $white-color;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          background-color: $hover-gold-color;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
.welcome__body--none {
  display: none;
}
